:root {
    --primary-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    --secondaty-bg-color: #F5F4FA;
    --primary-bg-color: #FFFFFF;
    --primary-dark-color:#2F303A;
    --primery-accent-color: #2196F3;
    --title-text-color: #212121;
    --primary-text-color: #757575;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font);
    letter-spacing: 0.03em;
}
.title {
    color: var(--title-text-color);
}
.logo {
text-decoration: none;
font-family: var(--logo-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* =====Header===== */
.logo .blue {
    color: var(--primery-accent-color);
}
.logo .black {
    color: #000000;
}

.link {
    text-decoration: none;
}
.logo .white {
    color: var(--primary-bg-color);
}
.main-header {
    background-color: var(--primary-bg-color);
}
.list {
    list-style: none;
}
.link {
    color: var(--primary-text-color);
    text-decoration: none;
}
.site-nav .link {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.contacts-nav .list {
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
}

.site-nav .link:focus,
.site-nav .link:hover,
.site-nav .link:active {
    color: var(--primery-accent-color);

}
.site-nav .link.current {
    color: var(--primery-accent-color);
}
.contacts-nav .link:focus,
.contacts-nav .link:hover {
    color: var(--primery-accent-color);
}
.contacts-nav .link {
    color: var(--primary-text-color);
}
/* ======Hero====== */
.hero {
    background-color: var(--primary-dark-color);
}
.hero-title {
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-bg-color);
}
.model-open-btn {
    background-color: var(--primery-accent-color);
    color: var(--primary-bg-color);
    font-family: inherit; 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.model-open-btn:hover,
.model-open-btn:focus {
    background-color:#188CE8 ;
}

/* =====main===== */
.features-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.features-item.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
}
.working-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color:var(--title-text-color)
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}
.team-item.title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;   
}
.team-section {
    background-color: var(--secondaty-bg-color);
}
.team .list {
    background-color: var(--primary-bg-color);
}
.team-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
/* =======footer======= */

.footer-section {
    background-color: var(--primary-dark-color);
}
.adress-nav-list .link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
     color: rgba(255, 255, 255, 0.6);
}

.adress .link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
    
}

.adress-nav-list .link:hover,
.adress-nav-list .link:focus {
    color: var(--primery-accent-color);
}

    /*=========Portfolio========  */
    .works-menu,
    .works-content {
        list-style: none;
    }
    .works-menu .menu-btn {
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        background-color: var(--secondaty-bg-color);
    }
    .menu-btn:hover,
    .menu-btn:focus {
        color: var(--primary-bg-color);
        background-color: var(--primery-accent-color);
    }
    .work-content-item .title {
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
    }
    .work-content-item .text {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.88;
    }